.footer-container{
    display: flex;
    float: left;
}

.footer-etc, .footer-us, .footer-blog{
    margin-bottom: 50px;
    margin-left: 80px;
    margin-right: 80px;
}

.footer-head{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 24px;
    color: #FACC15;
}

.footer-blogtext{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer-blogsubtext{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: white;
}

.footer-ustext{
    font-size: 14px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    color: white;
}

.website-rights{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}

.footer-etctext{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: white;
}
